<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"></head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
	<!-- Navigation-->
	<div th:include="fragments/header::LEFT-SIDEBAR"></div>

	<div class="content-wrapper">
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Dashboard</a>
				</li>
				<li class="breadcrumb-item active">Spring Boot</li>
			</ol>
			<div class="row">
				<div class="col-12">
					<h4>Here is your Post:</h4>

					<div class="col-md-10 blogShort">
						<h1>Title 1</h1>
						<img
							src="/image/springboot.png"
							alt="post img"
							class="pull-left img-responsive thumb margin10 img-thumbnail" />

						<em>This snippet use <a
							href="http://bootsnipp.com/snippets/featured/sexy-sidebar-navigation"
							target="_blank">Sexy Sidebar Navigation</a></em>
						<article>
							<p>Lorem Ipsum is simply dummy text of the printing and
								typesetting industry. Lorem Ipsum has been the industry's
								standard dummy text ever since the 1500s, when an unknown
								printer took a galley of type and scrambled it to make a type
								specimen book. It has survived not only five centuries, but also
								the leap into electronic typesetting, remaining essentially
								unchanged. It was popularised in the 1960s with the release of
								Letraset sheets containing Lorem Ipsum passages, and more
								recently with desktop publishing software like Aldus PageMaker
								including versions of Lorem Ipsum.</p>
						</article>
						<a class="btn btn-blog pull-right marginBottom10"
							href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a>
					</div>
					
						<div class="col-md-10 blogShort">
						<h1>Title 1</h1>
						<img
							src="/image/springboot.png"
							alt="post img"
							class="pull-left img-responsive thumb margin10 img-thumbnail" />

						<em>This snippet use <a
							href="http://bootsnipp.com/snippets/featured/sexy-sidebar-navigation"
							target="_blank">Sexy Sidebar Navigation</a></em>
						<article>
							<p>Lorem Ipsum is simply dummy text of the printing and
								typesetting industry. Lorem Ipsum has been the industry's
								standard dummy text ever since the 1500s, when an unknown
								printer took a galley of type and scrambled it to make a type
								specimen book. It has survived not only five centuries, but also
								the leap into electronic typesetting, remaining essentially
								unchanged. It was popularised in the 1960s with the release of
								Letraset sheets containing Lorem Ipsum passages, and more
								recently with desktop publishing software like Aldus PageMaker
								including versions of Lorem Ipsum.</p>
						</article>
						<a class="btn btn-blog pull-right marginBottom10"
							href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a>
					</div>
					
						<div class="col-md-10 blogShort">
						<h1>Title 1</h1>
						<img
							src="/image/springboot.png"
							alt="post img"
							class="pull-left img-responsive thumb margin10 img-thumbnail" />

						<em>This snippet use <a
							href="http://bootsnipp.com/snippets/featured/sexy-sidebar-navigation"
							target="_blank">Sexy Sidebar Navigation</a></em>
						<article>
							<p>Lorem Ipsum is simply dummy text of the printing and
								typesetting industry. Lorem Ipsum has been the industry's
								standard dummy text ever since the 1500s, when an unknown
								printer took a galley of type and scrambled it to make a type
								specimen book. It has survived not only five centuries, but also
								the leap into electronic typesetting, remaining essentially
								unchanged. It was popularised in the 1960s with the release of
								Letraset sheets containing Lorem Ipsum passages, and more
								recently with desktop publishing software like Aldus PageMaker
								including versions of Lorem Ipsum.</p>
						</article>
						<a class="btn btn-blog pull-right marginBottom10"
							href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a>
					</div>
					
						<div class="col-md-10 blogShort">
						<h1>Title 1</h1>
						<img
							src="/image/springboot.png"
							alt="post img"
							class="pull-left img-responsive thumb margin10 img-thumbnail" />

						<em>This snippet use <a
							href="http://bootsnipp.com/snippets/featured/sexy-sidebar-navigation"
							target="_blank">Sexy Sidebar Navigation</a></em>
						<article>
							<p>Lorem Ipsum is simply dummy text of the printing and
								typesetting industry. Lorem Ipsum has been the industry's
								standard dummy text ever since the 1500s, when an unknown
								printer took a galley of type and scrambled it to make a type
								specimen book. It has survived not only five centuries, but also
								the leap into electronic typesetting, remaining essentially
								unchanged. It was popularised in the 1960s with the release of
								Letraset sheets containing Lorem Ipsum passages, and more
								recently with desktop publishing software like Aldus PageMaker
								including versions of Lorem Ipsum.</p>
						</article>
						<a class="btn btn-blog pull-right marginBottom10"
							href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a>
					</div>
					
						<div class="col-md-10 blogShort">
						<h1>Title 1</h1>
						<img
							src="/image/springboot.png"
							alt="post img"
							class="pull-left img-responsive thumb margin10 img-thumbnail" />

						<em>This snippet use <a
							href="http://bootsnipp.com/snippets/featured/sexy-sidebar-navigation"
							target="_blank">Sexy Sidebar Navigation</a></em>
						<article>
							<p>Lorem Ipsum is simply dummy text of the printing and
								typesetting industry. Lorem Ipsum has been the industry's
								standard dummy text ever since the 1500s, when an unknown
								printer took a galley of type and scrambled it to make a type
								specimen book. It has survived not only five centuries, but also
								the leap into electronic typesetting, remaining essentially
								unchanged. It was popularised in the 1960s with the release of
								Letraset sheets containing Lorem Ipsum passages, and more
								recently with desktop publishing software like Aldus PageMaker
								including versions of Lorem Ipsum.</p>
						</article>
						<a class="btn btn-blog pull-right marginBottom10"
							href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a>
					</div>
					
						<div class="col-md-10 blogShort">
						<h1>Title 1</h1>
						<img
							src="/image/springboot.png"
							alt="post img"
							class="pull-left img-responsive thumb margin10 img-thumbnail" />

						<em>This snippet use <a
							href="http://bootsnipp.com/snippets/featured/sexy-sidebar-navigation"
							target="_blank">Sexy Sidebar Navigation</a></em>
						<article>
							<p>Lorem Ipsum is simply dummy text of the printing and
								typesetting industry. Lorem Ipsum has been the industry's
								standard dummy text ever since the 1500s, when an unknown
								printer took a galley of type and scrambled it to make a type
								specimen book. It has survived not only five centuries, but also
								the leap into electronic typesetting, remaining essentially
								unchanged. It was popularised in the 1960s with the release of
								Letraset sheets containing Lorem Ipsum passages, and more
								recently with desktop publishing software like Aldus PageMaker
								including versions of Lorem Ipsum.</p>
						</article>
						<a class="btn btn-blog pull-right marginBottom10"
							href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a>
					</div>
					
						<div class="col-md-10 blogShort">
						<h1>Title 1</h1>
						<img
							src="/image/springboot.png"
							alt="post img"
							class="pull-left img-responsive thumb margin10 img-thumbnail" />

						<em>This snippet use <a
							href="http://bootsnipp.com/snippets/featured/sexy-sidebar-navigation"
							target="_blank">Sexy Sidebar Navigation</a></em>
						<article>
							<p>Lorem Ipsum is simply dummy text of the printing and
								typesetting industry. Lorem Ipsum has been the industry's
								standard dummy text ever since the 1500s, when an unknown
								printer took a galley of type and scrambled it to make a type
								specimen book. It has survived not only five centuries, but also
								the leap into electronic typesetting, remaining essentially
								unchanged. It was popularised in the 1960s with the release of
								Letraset sheets containing Lorem Ipsum passages, and more
								recently with desktop publishing software like Aldus PageMaker
								including versions of Lorem Ipsum.</p>
						</article>
						<a class="btn btn-blog pull-right marginBottom10"
							href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a>
					</div>
					
						<div class="col-md-10 blogShort">
						<h1>Title 1</h1>
						<img
							src="/image/springboot.png"
							alt="post img"
							class="pull-left img-responsive thumb margin10 img-thumbnail" />

						<em>This snippet use <a
							href="http://bootsnipp.com/snippets/featured/sexy-sidebar-navigation"
							target="_blank">Sexy Sidebar Navigation</a></em>
						<article>
							<p>Lorem Ipsum is simply dummy text of the printing and
								typesetting industry. Lorem Ipsum has been the industry's
								standard dummy text ever since the 1500s, when an unknown
								printer took a galley of type and scrambled it to make a type
								specimen book. It has survived not only five centuries, but also
								the leap into electronic typesetting, remaining essentially
								unchanged. It was popularised in the 1960s with the release of
								Letraset sheets containing Lorem Ipsum passages, and more
								recently with desktop publishing software like Aldus PageMaker
								including versions of Lorem Ipsum.</p>
						</article>
						<a class="btn btn-blog pull-right marginBottom10"
							href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a>
					</div>
					
						<div class="col-md-10 blogShort">
						<h1>Title 1</h1>
						<img
							src="/image/springboot.png"
							alt="post img"
							class="pull-left img-responsive thumb margin10 img-thumbnail" />

						<em>This snippet use <a
							href="http://bootsnipp.com/snippets/featured/sexy-sidebar-navigation"
							target="_blank">Sexy Sidebar Navigation</a></em>
						<article>
							<p>Lorem Ipsum is simply dummy text of the printing and
								typesetting industry. Lorem Ipsum has been the industry's
								standard dummy text ever since the 1500s, when an unknown
								printer took a galley of type and scrambled it to make a type
								specimen book. It has survived not only five centuries, but also
								the leap into electronic typesetting, remaining essentially
								unchanged. It was popularised in the 1960s with the release of
								Letraset sheets containing Lorem Ipsum passages, and more
								recently with desktop publishing software like Aldus PageMaker
								including versions of Lorem Ipsum.</p>
						</article>
						<a class="btn btn-blog pull-right marginBottom10"
							href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a>
					</div>
					
						<div class="col-md-10 blogShort">
						<h1>Title 1</h1>
						<img
							src="/image/springboot.png"
							alt="post img"
							class="pull-left img-responsive thumb margin10 img-thumbnail" />

						<em>This snippet use <a
							href="http://bootsnipp.com/snippets/featured/sexy-sidebar-navigation"
							target="_blank">Sexy Sidebar Navigation</a></em>
						<article>
							<p>Lorem Ipsum is simply dummy text of the printing and
								typesetting industry. Lorem Ipsum has been the industry's
								standard dummy text ever since the 1500s, when an unknown
								printer took a galley of type and scrambled it to make a type
								specimen book. It has survived not only five centuries, but also
								the leap into electronic typesetting, remaining essentially
								unchanged. It was popularised in the 1960s with the release of
								Letraset sheets containing Lorem Ipsum passages, and more
								recently with desktop publishing software like Aldus PageMaker
								including versions of Lorem Ipsum.</p>
						</article>
						<a class="btn btn-blog pull-right marginBottom10"
							href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container-fluid-->
		<!-- /.content-wrapper-->
		<footer class="sticky-footer">
			<div class="container">
				<div class="text-center">
					<small>Copyright © Your Website 2017</small>
				</div>
			</div>
		</footer>
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top"> <i
			class="fa fa-angle-up"></i>
		</a>
		
		<div th:include="fragments/header::js-include"></div>
	<!-- Bootstrap core JavaScript-->
		<!-- <script src="/bootstrap/vendor/jquery/jquery.min.js"></script>
		<script src="/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		Core plugin JavaScript
		<script src="/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>
		Custom scripts for all pages
		<script src="/bootstrap/js/sb-admin.min.js"></script> --> 
	</div>
</body>

</html>
